@tailwind base;
@tailwind components;
@tailwind utilities;



body{
    font-family: sans-serif;
    background-color: rgb(32, 32, 32);
}

@layer utilities {
    ::-webkit-scrollbar-track {
        @apply bg-transparent
    }
      
    /* Handle */
    ::-webkit-scrollbar-thumb {
        @apply bg-amber-500;
    }
      
    /* Handle */
    ::-webkit-scrollbar-thumb {
        @apply bg-amber-500;
    }
      
    /* Set scrollbar width */
    ::-webkit-scrollbar {
        @apply w-1;
    }


    .back_button{
        @apply cursor-pointer absolute top-3 left-5 p-2 text-xs text-amber-500 border border-amber-500;
    }



    /* ****************detailed popup styles*/
    .detailed_popup_bg{
        @apply fixed left-0 top-0 bg-fadeBlack w-full h-full ;
    }
    .detailed_popup_container{
        @apply w-1/2 h-4/5 ml-auto mr-auto mt-10 flex flex-col items-center gap-2 border-amber-500 border-2 rounded bg-commonGray font-bold overflow-y-auto;
    }
    .detailed_popup_img{
        @apply w-2/4 border-amber-500 border-b-2;
    }
    .detailed_popup_name{
        @apply text-lg text-gray-400 mt-2;
    }
    .detailed_popup_description{
        @apply text-gray-300 text-center w-3/4;
    }
    .detailed_popup_close{
        @apply text-gray-400 mb-5 mt-5;
    }



    /***************card style*/
    .card_container{
        @apply flex flex-col items-center gap-2 border-amber-500 border-2 rounded bg-transparent font-bold mt-5;
    }
    .card_img{
        @apply w-40 border-amber-500 border-b;
    }
}

.rules-container{
    height:100vh;
    background-image: url("/assets/rulesScrool.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 60px;
    background-size: 90vw clamp(500px, 80vh, 60vw);
}

.rules{
    position: absolute;
    top: max(25vh, 180px);
    left: 33.333333%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-size: 1.125rem;
    width: 33.333333%;
    height: 50%;
    overflow-y: auto;
}
